<h1><%= @room.name %><small> <%= @room.capacity %> of these exist</small></h1>

<ul>
  <% @room.bookings.each do |booking| %>
    <li><%= l booking.time_start %> - <%= l booking.time_end %></li>
  <% end %>
</ul>

<%# form_for @room %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
